body, html {
  color: white;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

input[type=number] {
  width: 80px;
}

label {
  display: inline-block;
  text-align: left;
  width: 120px;
}
.radio {
  display: inline-block;
  text-align: left;
  width: 80px;
}

.container {
  display: flex;
  flex-direction: row; /* direction */
  flex-wrap: wrap; /* wrap it! */
  /* flex-flow: row wrap; or type above just like it*/
  justify-content: center;
  align-items: center;
  align-content: center; /*there is no sense to use it, if there is only one line of items */

  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  flex: 1 0 25%; /*force 3 items pre row! */

  background: salmon;
  color: white;
  margin: 10px;
  height: 300px;
  padding: 10px;
  text-align: center;
}

.footer {
  flex-grow: 1;
  flex-basis: 100%;
  /*flex: 1 1; grow, shrink
  flex: 1 100% grow, basis */

  background: skyblue;
  text-align: center;
  padding: 10px;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Big screen */
.menu {
  display: flex;
  flex-flow row wrap;
  justify-content: flex-start;

  background: skyblue;
  list-style: none;
  margin: 0;
  padding: 0; /* needed only for <ul> list */
  width: 100%;
}

.menu a {
  padding: 15px;
  color: white;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  background: deepskyblue;
}

/* Medium screen */
@media all and (max-width: 800px) {
  .menu {
    justify-content: space-around;
  }

  .item {
    height: 450px;
  }

}

/* Small screen */
@media all and (max-width: 500px) {

  .item {
    flex: 1 0 100%; /*show only one item per line */
  }

  .menu {
    flex-direction: column;
    padding: 0; /* needed only for <ul> list */
  }

  .menu a {
    text-align: center;
    border-bottom: 1px solid deepskyblue;
    border-top: 1px solid white;
    padding: 10px;
  }

}

.parallax {
  background-image: url("bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.stick {
  top: 0;
  position: fixed;
}
